@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin);

:root {
  --color-day-white-fixed: #ffffff;
  --color-day-dark-blue: #287ed5;
  --color-day-medium-blue: #1e65a4;
  --color-day-medium-black: #1c1c1c;
  --color-day-light-black: #606060;
  --color-blue: #459df5;
  --color-red: #f53152;
  --color-orange: #ff8c56;
  --color-green: #0fb864;
  --dropdown-shadow: rgba(0, 0, 0, 0.1);
}

:root[data-theme="light"] {
  --color-day-white: #ffffff;
  --color-day-black: #000000;
  --color-day-light-blue: #bad8f5;
  --color-day-white-blue: #ebf0f5;
}

:root[data-theme="dark"] {
  --color-day-white: #2b2d33;
  --color-day-black: #bcc4cc;
  --color-day-light-blue: #454e52;
  --color-day-white-blue: #171b1f;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
}
