._ {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  width: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid
    var(--color-day-white-blue, var(--color-night-white-blue));
}
