._ {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--color-day-black, var(--color-night-black));
  background-color: var(--color-day-white, var(--color-night-white));
  overflow: hidden;
}
