@import url(../../shared/Common/Common.module.css);

.filter {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.filter__mainBlock {
  display: inherit;
  justify-content: space-between;
}

.filter__leftBlock {
  display: inherit;
  flex-direction: row;
}

.filter__leftBlock > * {
  margin-right: 1rem;
}

.filter__leftBlock > :last-child {
  margin-right: 0;
}

.filter__searchbarWrapper {
  width: 20rem;
}

.filter__extendedBlock {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  height: 5.5rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-day-white-blue);
}

.filter__extendedBlock_hidden {
  display: none;
}

.filter__dateFilter,
.filter__stateFilter,
.filter__amountFilter {
  margin-right: 1rem;
}

.filter__applyFilterButton {
  padding: 0.5rem 0.5625rem;
}

.filter__clearFilterButton_hidden {
  display: none;
}
