@import url(../Common/Common.module.css);

.searchbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchbar__label {
  line-height: inherit;
  color: var(--color-day-black);
}

.searchbar__iconSearch {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  stroke: var(--color-blue);
  margin-right: 0.5rem;
}
