@import url(../Common/Common.module.css);

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_disabled .input__field {
  background-color: var(--color-day-light-blue);
}

.input_incorrect .input__field {
  border-color: var(--color-red);
}

.input__label {
  line-height: inherit;
  color: var(--color-day-black);
}

.input__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  background-color: var(--color-day-white);
  border: 0.0625rem solid var(--color-blue);
  border-radius: 0.25rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
}

.input__annotation {
  padding-right: 0.25rem;
}

.input__area {
  display: flex;
  border: 0;
  padding: 0;
  line-height: inherit;
  background-color: inherit;
  outline: 0;
  font: inherit;
  color: var(--color-day-black);
  width: 100%;
}

.input__area::placeholder {
  color: var(--color-day-light-blue);
}

.input__iconCross {
  display: block;
  height: 0.5625rem;
  width: 0.5625rem;
  stroke: var(--color-day-light-blue);
  stroke-width: 0.125rem;
}

.input__iconLock {
  display: block;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  fill: var(--color-day-black);
  padding: 0.25rem;
  margin: 0 auto;
}

.input__iconVArrow {
  display: block;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  fill: var(--color-day-light-blue);
  padding: 0.25rem;
  margin: 0 auto;
}

.input_dropdown:hover .input__iconVArrow {
  fill: var(--color-day-dark-blue);
  transition: fill 0.25s ease-in;
}

.input__button {
  display: flex;
  padding: 0.25rem;
  height: 1.5rem;
  min-width: 1.5rem;
  align-items: center;
  justify-content: center;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.input__button_hidden {
  display: none;
}

.input__button:hover .input__iconCross {
  stroke: var(--color-day-dark-blue);
  transition: stroke 0.25s ease-in;
}
