._ {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.25rem;
  align-items: center;
  color: var(--color-day-black, var(--color-night-black));
}

.icon {
  width: 1rem;
  height: 1rem;
}

.green {
  color: var(--color-green);
  fill: var(--color-green);
}

.lightBlack {
  color: var(--color-day-light-black);
  stroke: var(--color-day-light-black);
}

.blue {
  fill: var(--color-blue);
}

.darkBlue {
  fill: var(--color-day-dark-blue);
}

.orange {
  fill: var(--color-orange);
}
