._ {
  color: var(--color-day-white-blue, var(--color-night-white-blue)) !important;
  cursor: default;
}

.active {
  background: rgba(0, 0, 0, 0.15);
}

.icon {
  margin-left: 0.25rem;
  width: 1rem;
  height: 1rem;
  fill: var(--color-day-white, var(--color-night-white));
}

.direction {
  transform: rotate(180deg);
}

.cellWrapper {
  display: flex;
}

.clickable:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
